.grid__image{
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
    display: flex;
    cursor: pointer;
    transition: .3s linear;
}
.grid__image:hover{
    transform: scale(1.1);
}