.popup__submit-btn_disable{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    opacity: 0.2;
    background: white;
    cursor: default;
    color: black;
    pointer-events:none;
}
