.login__input {
    color: #FFFFFF;
    outline: none;
    margin-bottom: 30px;
    max-width: 358px;
    width: 100%;
    border: none;
    border-bottom: #FFFFFF solid 1px;
    padding-bottom: 13px;
    background-color: #000;
    font-family: Inter, 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}