.profile__avatar-btn{
    border-radius:60px;
    max-width: 120px;
    background: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all .6s ease;
    background-image: url('../../../images/Vector.png');
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
}
.profile__avatar-btn:hover{
    z-index: 1;
    opacity: 1;
}
@media screen and (max-width: 879px) {
    .profile__avatar-btn{
        margin: auto;
    }
}
