.profile__button-add {
    background: url("../../../images/add.svg");
    width: 150px;
    height: 50px;
    transition: linear .3s;
    cursor: pointer;
    align-self: center;
    outline: none;
    border:white 1px solid;
}

.profile__button-add:hover{
    opacity: 0.6;
}
@media screen and (max-width: 879px) {
   .profile__button-add{
       margin: 36px 0 0 0;
       width: 282px;
       height: 50px;
       background: url("../../../images/add-phones.svg");
       background-repeat: no-repeat;
   }
}