.profile__button-edit {
    background: url("../../../images/Edit.svg");
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    transition: linear .3s;
    cursor: pointer;
    align-self: center;
}
.profile__button-edit:hover{
    opacity: 0.6;
}
@media screen and (max-width: 880px) {
    .profile__button-edit {
        width: 18px;
        height: 18px;
        background: url("../../../images/Edit-phones.svg");

    }
}